Source: mupdf
Section: core
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>= 7), autoconf, automake, libtool, libfreetype6-dev, zlib1g-dev | libz-dev | libz1-dev, libjpeg62-dev, pkg-config, mupdf-fontdump, libopenjpeg-dev, libjbig2dec-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, libtool, pkg-config, mupdf-fontdump
XCS-Cross-Build-Depends: libfreetype6-dev, zlib1g-dev | libz-dev | libz1-dev, libjpeg62-dev, libopenjpeg-dev, libjbig2dec-dev
Priority: optional
Standards-Version: 3.8.0

Package: libmupdf1
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libmupdf
Replaces: libmupdf
Description: MuPDF library
 MuPDF is a lightweight PDF viewer and toolkit written in portable C.
 .
 This package contains shared library.

Package: libmupdf-dev
Priority: optional
Architecture: any
Depends: libmupdf1 (= ${binary:Version}), ${shlibs:Depends}
Description: MuPDF library -- development
 MuPDF is a lightweight PDF viewer and toolkit written in portable C.
 .
 This package contains header files and symlinks necessary to link with library.

Package: libmupdf1-dbg
Priority: extra
Architecture: any
Depends: libmupdf1 (= ${binary:Version})
Description: MuPDF library -- debugging symbols
 MuPDF is a lightweight PDF viewer and toolkit written in portable C.
 .
 This package contains debugging symbols for shared library.
